<h1>HEY WORLD</h1>
{{!-- <div w-type="event-discovery" w-tmapikey="SXXNMzeFhvITBiYhMST0HKghN9Oi9KAr" w-googleapikey="YOUR_GOOGLE_API_KEY" w-keyword="" w-theme="simple" w-colorscheme="light" w-width="350" w-height="600" w-size="25" w-border="0" w-borderradius="4" w-postalcode="" w-radius="25" w-city="Los Angeles" w-period="week" w-layout="vertical" w-attractionid="" w-promoterid="" w-venueid="" w-affiliateid="" w-segmentid="" w-proportion="custom" w-titlelink="off" w-sorting="groupByName" w-id="id_46rqefp" w-countrycode="US" w-source="" w-branding="Ticketmaster" w-latlong=""></div> --}}

  {{#if currentUser }}
    <img src="{{currentUser.image}}" alt="" style="height: 100px; width:100px">
        <li class="">
          <p>{{currentUser.name}}</p>
        <a class="button b-3" aria-current="page" href="/logout">Logout</a>
        </li>
    {{/if}}

    {{!-- <script src="https://ticketmaster-api-staging.github.io/products-and-docs/widgets/event-discovery/1.0.0/lib/main-widget.js"></script> --}}
