<h1>HEY WORLD</h1>

  {{#if currentUser }}
    <img src="{{currentUser.image}}" alt="" style="height: 100px; width:100px">
        <li class="">
          <p>{{currentUser.name}}</p>
        <a class="button b-3" aria-current="page" href="/logout">Logout</a>
        </li>
    {{/if}}

   