<div class="row justify-content-center mt-4">
    <div class="col-sm-4">
        <div class="d-grid gap-2">

            <div class="d-grid gap-2 mt-2">
                <a href="/login/google" class="btn btn-danger border-0 rounded-pill">
                    <i class="fa fa-google"></i>
                    Continúa con Google
                </a>
            </div>

            <button type="button" class="btn btn-outline-primary">Primary</button>


            <div class="d-grid gap-2 mt-2">
                <a href="/login/google" class="btn border-1 border border-dark rounded-pill">
                    <i class="fa-solid fa-envelope justify-content-between"></i>
                    Continúa con tu email
                </a>

                <button type="button" class="btn btn-outline-dark rounded-pill"><i
                        class="fa-solid fa-envelope justify-content-between"></i>
                    Continúa con tu email</button>

            </div>
        </div>
    </div>
</div>