<div class="row justify-content-center mt-4">
  <div class="col-sm-4">
    <h1>Registrate con tu email</h1>
    <form method="POST" action="/register" enctype="multipart/form-data">
      <div class="form-group">
        <label for="formGroupExampleInput2">Email</label>
        <input value="{{user.email}}" name="email" type="email"
          class="form-control {{#if errors.email}}is-invalid{{/if}}" placeholder="example@example.com">
        {{#if errors.email}}
        <div class="invalid-feedback">{{errors.email}}</div>
        {{/if}}
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Contraseña</label>
        <input name="password" type="password" class="form-control {{#if errors.password}}is-invalid{{/if}}"
          placeholder="Contraseña">
        {{#if errors.password}}
        <div class="invalid-feedback">{{errors.password}}</div>
        {{/if}}

        <div class="mb-3">
          <label for="image" class="form-label">Imagen de perfil</label>
          <input class="form-control" name="image" type="file" id="image">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Registrate</button>
    </form>
  </div>
</div>