<div class="row justify-content-center mt-4">
    <h4 class="text-center mt-2">Usa tu red social favorita para entrar:</h4>
    <div class="col-sm-4 card rounded mt-4">

        <div class="d-grid gap-2 rounded-pill border border-light mb-2 mt-3">
            <div class="d-grid gap-2 mt-6 mb-1">
                <a href="/login/google" class="btn btn-danger border-0 rounded-pill btn-lg">
                    <i class="fa fa-google"></i>
                    Continúa con Google
                </a>
            </div>
            <div class="d-grid gap-2 mt-6 mb-1">
                <a href="http://example.com" class="btn btn-primary border-0 rounded-pill btn-lg">
                    <i class="fa fa-twitter"></i>
                    Continúa con Twitter
                </a>
            </div>

            <div class="d-grid gap-2 mt-6 mb-1">
                <a href="/register-with-email" class="btn btn-outline-dark border-1 border border-dark rounded-pill btn-lg">
                    <i class="fa-solid fa-envelope justify-content-between"></i>
                    Continúa con tu email
                </a>
            </div>
            <div class="d-grid gap-2 mt-6 justify-content-center">
                <p class="opacity-50"> <i class="fa-solid fa-lock"></i> Nunca publicaremos nada sin tu permiso</p>
            </div>

        </div>
    </div>
</div>