<footer id="footer" class="text-center text-lg-start text-muted">
  <section class="py-4">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fa fa-gem me-3"></i>Iron Clubbers
          </h6>
          <p>
            Mejora la forma en la que hacer planes, con iClubbers. ¿Quieres descubrir los últimos eventos musicales? ¡No
            hay problema! iClubbers ha seleccionado una lista de los evetos más novedosos excusivos para ti. Disfruta al máximo de tu tiempo libre!
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Legal</h6>
          <p><a href="/terms" class="text-reset text-decoration-none">Términos de uso</a></p>
          <p><a href="/policy-privacy" class="text-reset text-decoration-none">Política de privacidad</a></p>
          <p><a href="/cookies" class="text-reset text-decoration-none">Pólitica de cookies</a></p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
          <p><i class="fa fa-home me-3"></i> 
          <small>calle de la Amargura nº 123 </small>
          <br>
          <small> 28690 Madrid (España) </small>
          </p>
          <p><a href="#!" class="text-reset text-decoration-none"><i class="fa fa-envelope me-3"></i> info.ironclubbers@gmail.com</a></p>
          <p><i class="fa fa-phone me-3"></i> 91 815 88 22</p>
          <p><i class="fa fa-mobile me-3"></i> 696 96 96 96</p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4 bg-superlight-green c-white">
    © 2022 Copyright:
    <a class="text-reset c-white fw-bold" href="/">IronClubbers</a>
  </div>
</footer>