<div class="container">
    <h3 class="mt-4">Política de cookies</h3>
    <p class="mt-4"> La presente política de cookies tiene por finalidad informarle de manera clara y precisa sobre las cookies que
        se utilizan en la página web de IronClubbers.</p>
    <h5 class="mb-3"> <strong>¿Qué son las cookies?</strong></h5>
    <p> Una cookie es un pequeño fragmento de texto que los sitios web que visita envían al navegador y que permite que
        el sitio web recuerde información sobre su visita, como su idioma preferido y otras opciones, con el fin de
        facilitar su próxima visita y hacer que el sitio le resulte más útil. Las cookies desempeñan un papel muy
        importante y contribuyen a tener una mejor experiencia de navegación para el usuario.</p>
    <h5 class="mb-3"> <strong>Tipos de cookies</strong></h5>


    <p> Según quién sea la entidad que gestione el dominio desde dónde se envían las cookies y se traten los datos que
        se obtengan, se pueden distinguir dos tipos: cookies propias y cookies de terceros.</p>


    <p> Existe también una segunda clasificación según el plazo de tiempo que permanecen almacenadas en el navegador del
        cliente, pudiendo tratarse de cookies de sesión o cookies persistentes.</p>
    <p> Por último, existe otra clasificación con cinco tipos de cookies según la finalidad para la que se traten los
        datos
        obtenidos: cookies técnicas, cookies de personalización, cookies de análisis, cookies publicitarias y cookies de
        publicidad comportamental.</p>
    <p> Para más información a este respecto puede consultar la Guía sobre el uso de las cookies de la Agencia Española
        de
        Protección de Datos.</p>
    <h5 class="mb-3"> <strong>Cookies utilizadas en la web</strong></h5>
    <p> A continuación se identifican las cookies que están siendo utilizadas en este portal así como su tipología y
        función:</p>
    <p> La página web de IronClubbers utiliza Google Analytics, un servicio de analítica web desarrollada
        por
        Google, que permite la medición y análisis de la navegación en las páginas web. En su navegador podrá observar
        cookies de este servicio. Según la tipología anterior se trata de cookies propias, de sesión y de análisis.</p>
    <p> A través de la analítica web se obtiene información relativa al número de usuarios que acceden a la web, el
        número
        de páginas vistas, la frecuencia y repetición de las visitas, su duración, el navegador utilizado, el operador
        que
        presta el servicio, el idioma, el terminal que utiliza y la ciudad a la que está asignada su dirección IP.
        Información que posibilita un mejor y más apropiado servicio por parte de este portal.</p>
    <p> Para garantizar el anonimato, Google convertirá su información en anónima truncando la dirección IP antes de
        almacenarla, de forma que Google Analytics no se usa para localizar o recabar información personal identificable
        de
        los visitantes del sitio. Google solo podrá enviar la información recabada por Google Analytics a terceros
        cuanto
        esté legalmente obligado a ello. Con arreglo a las condiciones de prestación del servicio de Google Analytics,
        Google no asociará su dirección IP a ningún otro dato conservado por Google.</p>
    <p> Otra de las cookies que se descargan es una cookie de tipo técnico denominada JSESSIONID. Esta cookie permite
        almacenar un identificador único por sesión a través del que es posible vincular datos necesarios para
        posibilitar
        la navegación en curso.</p>
    <p> Por último, se descarga una cookie denominada show_cookies, propia, de tipo técnico y de sesión. Gestiona el
        consentimiento del usuario para el uso de las cookies en la página web, con el objeto de recordar aquellos
        usuarios
        que las han aceptado y aquellos que no, de modo que a los primeros no se les muestre información en la parte
        superior de la página al respecto.</p>
    <h5 class="mb-3"> <strong>Aceptación de la política de cookies</strong></h5>
    <p> Pulsando el botón Entendido se asume que usted acepta el uso de cookies.</p>
    <h5 class="mb-3"> <strong>Cómo modificar la configuración de las cookies</strong></h5>
    <p> Usted puede restringir, bloquear o borrar las cookies de IronClubbers o cualquier otra página web
        utilizando su navegador. En cada navegador la operativa es diferente, la función de "Ayuda" le mostrará cómo
        hacerlo.</p>
</div>