<div>
    <div id="main-picture" class="mx-0">
        <h1 class="main-tittle">Vive la música</h1>
    </div>
</div>
<div class="container">

    <h1 class="mt-4">Top Eventos</h1>

    {{> carousel }}

    <div class="container mt-4 absolute">
        <h1>Eventos</h1>
        <div class="row mx-auto">

            {{> listedParties }}

        </div>
    </div>

</div>

{{#if flashMessage}}
    <div id="overlay" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Su solicitud se ha enviado correctamente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
    </div>
{{/if}}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/axios.js"></script>

<script>
    const modal = document.querySelector('#overlay');
    if(modal) {
        modal.querySelector('.btn-close').addEventListener('click', () => {
            modal.classList.add('hidden');
        })
    }
</script>