<div>
    <div id="main-picture" class="mx-0">
        <h1 class="main-tittle">Vive la música</h1>
    </div>
</div>
<div class="container">
    {{!--
    <div class="mt-4">
        <h1>Explora</h1>
    </div>
    <div>
        <div class="container mt-4">
            <div class="row d-flex justify-content-around">
                <div class="col-2">
                    <div>
                        <a href="">
                            <img class="card-img-top" style="max-width: 150px" src="/images/circle.png"
                                alt="Card image cap" />
                        </a>
                        <div class="card-body">
                            <p class="card-text small">aaa</p>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div>
                        <a href="">
                            <img class="card-img-top" style="max-width: 150px" src="/images/circle.png"
                                alt="Card image cap" />
                        </a>
                        <div class="card-body">
                            <p class="card-text small">aaa</p>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div>
                        <a href="">
                            <img class="card-img-top" style="max-width: 150px" src="/images/circle.png"
                                alt="Card image cap" />
                        </a>
                        <div class="card-body">
                            <p class="card-text small">aaa</p>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div>
                        <a href="">
                            <img class="card-img-top" style="max-width: 150px" src="/images/circle.png"
                                alt="Card image cap" />
                        </a>
                        <div class="card-body">
                            <p class="card-text small">aaa</p>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div>
                        <img class="card-img-top" style="max-width: 150px" src="/images/circle.png"
                            alt="Card image cap" />
                        <div class="card-body">
                            <p class="card-text">aaa
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> --}}

    <h1 class="mt-4">Top Eventos</h1>

    {{> carousel }}

    <div class="container mt-4 absolute">
        <h1>Eventos</h1>
        <div class="row mx-auto">

            {{> listedParties }}
            
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/axios.js"></script>