<div class="container">

<h1>Términos y condiciones de uso </h1>
<h4>1. Quiénes somos</h4>
<h5>1.1 iClubbers</h5>
<p> El propietario del Sitio <a href="http://localhost:3000/"></a> y de la aplicación (o «app») es IronClubbers, S.L (en
    lo sucesivo, iClubbers),
    con número de identificación fiscal 99-0368536, con domicilio social en 379 West Broadway, 4th floor, suite 408, New
    York 10012, Estados Unidos.

    iClubbers es una aplicación web y móvil que propone a los usuarios el consumo de entretenimiento fuera de línea
    sugiriéndoles eventos organizados por expertos, en base a su propia analítica realizada sobre los datos del
    consumidor. iClubbers tiene capacidad para encauzar el tráfico y proporcionar una vía para el descubrimiento
    espontáneo
    de organizadores de eventos.</p>
<h5> 1.2 Los Servicios</h5>
<p> Los Sitios web y dominios de iClubbers, incluyendo <a href="http://localhost:3000/"></a>, y la totalidad de las
    páginas web, subdominios,
    variantes de nivel de dominio por país y subpartes de esos Sitios (en conjunto denominados, nuestro «Sitio»), la
    totalidad de los servicios disponibles en o a través del Sitio o de otro modo proporcionados por nosotros
    (incluyendo nuestras interfaces de programación de aplicaciones), y todas nuestras aplicaciones móviles gratuitas
    incluyendo, a título enunciativo, la iClubbers app, que iClubbers ofrece, mantiene y suministra. Nos referimos a
    estas como
    nuestros “Servicios”.</p>
<h5> 1.3 Usuarios</h5>
<p>
    A través de los Servicios, iClubbers proporciona un medio rápido y sencillo para usuarios registrados que son
    organizadores y planificadores de eventos, y organizaciones de beneficencia («Organizadores de Eventos») para crear
    la inscripción al evento, el perfil del orador, el perfil del organizador, las páginas para la recaudación de fondos
    y otras páginas relacionadas con sus eventos, para difundir esas páginas y eventos entre los visitantes o
    navegadores de los Servicios y para la venta de entradas e inscripciones (o para emitir inscripciones gratuitas) y
    vender productos publicitarios relacionados con esos eventos a los usuarios que deseen realizar compras,
    inscripciones o donaciones de o para tales eventos (incluidos los eventos gratuitos) («Clientes»).


    En su conjunto, nos referimos a los Organizadores de Eventos, a los Clientes y a otros visitantes y exploradores de
    los Servicios, denominándolos «Usuarios» o «usted».


</p>
<h4>2. Nuestras
    Condiciones de Uso</h4>
<h5>2.1 Aplicación</p>

<p>La siguiente política establece las cláusulas y condiciones al amparo de las cuales usted
    puede utilizar los Servicios (las «Condiciones de Uso»). Si utiliza los Servicios de algún modo, se le aplicarán
    estas Condiciones de Uso. Al aceptar las Condiciones de Servicio y utilizar los Servicios de cualquier manera,
    usted acepta estas Condiciones de uso sin modificación y celebra un contrato vinculante con iClubbers.
</p>
<h5>2.2 Incorporación por Remisión</h5>
<p>Las presentes Condiciones de Uso y los derechos y obligaciones contenidos en estas
    Condiciones de Uso se suman e incorporan por remisión a las Condiciones de Servicio. No hay nada en estas
    Condiciones de Uso que pretenda modificar, suspender, renunciar, modificar o rescindir ninguna otra cláusula de
    las Condiciones de Servicio.</p>

<h4>3. Su Uso de los Servicios</h4>

<h5>3.1 Los Servicios</h5>
<p>Por el presente, iClubbers le otorga un derecho personal, no exclusivo, intransferible,
    no
    sublicenciable, revocable (de conformidad con la cláusula 4 de las Condiciones de Servicio) y limitado de acceso
    y uso de los Servicios únicamente para los fines de (a) exploración de los Servicios y búsqueda, visualización,
    inscripción para comprar entradas, o realizar donaciones a un evento que se encuentra registrado en los
    Servicios; y/o (b) si usted es un Organizador, para crear la inscripción al evento, el perfil del orador, el
    perfil del Organizador, la página de recaudación de fondos y otras páginas web para la promoción, gestión,
    seguimiento y recepción de los ingresos obtenidos de las ventas de un evento que, en cada caso (i) cumple con
    estas Condiciones de Uso, con el Acuerdo Comercial, con la Política de Privacidad y, en general, con las
    Condiciones de Servicio; y (ii) en la medida permitida en virtud de toda la legislación local, estatal,
    provincial, nacional y otras leyes, normas y reglamentos aplicables. Sin perjuicio de lo anterior, usted no
    podrá, y no permitirá que nadie, directa o indirectamente (A) copie, modifique, reproduzca, traduzca, localice
    el puerto o cree derivados de cualquier parte de los Servicios; (B) aplique ingeniería inversa, desmonte,
    descompile o trate de descubrir el código fuente o estructura, secuencia y organización de todos o de parte de
    los Servicios (excepto que esta limitación no se aplicará a las restricciones de alcance limitado sobre
    ingeniería inversa que se encuentran prohibidas por la legislación local, estatal, provincial, nacional u otra
    ley, norma o reglamento); (C) arrendar, revender, distribuir, utilizar los Servicios para fines de tiempo
    compartido, oficina de servicios u otros fines comerciales no contemplados en el presente párrafo o de cualquier
    otro modo explotar los Servicios de manera no autorizada o para un propósito no intencionado; D) retirar o
    alterar algún aviso de propiedad o etiquetas en los servicios; o (E) participar en alguna actividad que
    interfiera o perturbe los Servicios. Todos los derechos no expresamente otorgados en el presente párrafo son
    derechos reservados.</p>
<p 8"><span 2"></p>
<h5 10"><span 2">3.2 Aplicaciones</h5>
<p 5"><span 0">Usted puede acceder y utilizar los Servicios a través de nuestras Aplicaciones, Sitio o
        cualquier otra Plataforma de iClubbers (denominados en conjunto «las Aplicaciones»). Para mayor claridad,
        cualquier
        acceso o uso de los Servicios a través de las Aplicaciones y las Aplicaciones mismas se consideran parte de los
        Servicios, y se encuentran subordinadas a las Condiciones de Servicio y a estas Condiciones de Uso. Este derecho
        de acceso y uso de las Aplicaciones podrá ser revocado de conformidad con lo dispuesto en la Cláusula 4 de las
        Condiciones de Servicio y iClubbers puede interrumpir o modificar las Aplicaciones tal como se establece a
        continuación en la Cláusula 12.</p>
<h4 10 c18" id="h.kkdsy8hvhrrb"><span 2">4. El papel de
        iClubbers</h4>
<p 8"><span 2"></p>
<h5 10"><span 2">4.1 Servicio de Listado y Representación
        Limitada</h5>
<p 5"><span 0">A menos que se indique lo contrario en aquellos contratos firmados por iClubbers y el
        Organizador (e.j.: precompras de inventario para determinados eventos), iClubbers no es Organizador ni
        propietario
        de los eventos enumerados en los Servicios para la venta o inscripción. iClubbers proporciona los Servicios, que
        permiten a los Organizadores de Eventos confeccionar listas y promocionar sus eventos, pero todas las ventas
        son, por defecto y en origen, realizadas por el Organizador respectivo que consta en la página del evento
        correspondiente. iClubbers también actúa como representante limitado del Organizador únicamente con el fin de
        utilizar los sistemas de pago de terceros proveedores para así cobrar los pagos abonados por los Clientes de los
        Servicios con respecto a un evento y procesar esos pagos hacia el Organizador correspondiente. Recae únicamente
        sobre el Organizador la obligación de garantizar que la página publicada en Servicios sobre un evento y la
        naturaleza y el desarrollo del evento referido cumplen con toda la legislación local, estatal, provincial,
        nacional y demás leyes, normas y reglamentos, y que los bienes y servicios descritos en cualquier página
        publicada sobre el evento se representan de manera satisfactoria.</p>

<h5 10"><span 2">4.2 Pagos de Clientes</h5>
<p 5"><span 0">Todos los pagos realizados por Clientes para asistir a los Eventos de los Organizadores
        se realizarán a través de las Aplicaciones de iClubbers. iClubbers puede valerse de terceros socios para
        procesar los
        pagos de las transacciones actuando como representante limitado del Organizador.</p>

<h5 10"><span 2">4.3 Comisiones</h5>
<p 5"><span 0">La creación de una cuenta, la inclusión de un evento en la lista a través del 0% de
        Comisión de Enlace y el acceso a los Servicios es gratuito. Solo cobramos comisiones cuando usted vende o compra
        entradas o inscripciones abonadas a través de una de las Plataformas de iClubbers. Todas las descripciones de
        comisiones estándar en los Servicios representan las comisiones estándar que iClubbers cobra a los
        Organizadores.
        Dichas comisiones pueden variar sobre la base de acuerdos individuales entre iClubbers y algunos Organizadores.
        Estas comisiones quedarán absorbidas en la entrada o precio de inscripción y, a la sola discreción de iClubbers,
        bien a) las abonará el Organizador deduciéndolas de los ingresos brutos de las entradas e inscripciones, o bien
        b) iClubbers las descontará del importe debido al Organizador. Las comisiones que se cobran a los Clientes
        pueden
        incluir algunos otros cargos, incluyendo, entre otros, cargos por uso de instalaciones, cánones o regalías,
        impuestos, comisiones por procesamiento y por &nbsp;cumplimiento. En consecuencia, las comisiones implícitas
        abonadas por los Clientes con motivo de un evento no son necesariamente las mismas que las cobradas por
        iClubbers al
        Organizador correspondiente o las comisiones descritas en el Acuerdo Comercial. Además, de media, algunas
        comisiones tienen por finalidad sufragar determinados gastos incurridos por iClubbers, pero pueden incluir en
        algunos casos una parte de beneficio y, en otros casos, una parte de pérdida. iClubbers no controla (y, por
        ello, no
        puede informar) las comisiones aplicadas por su banco o compañía de tarjeta de crédito, incluyendo las
        comisiones por compra de entradas e inscripciones en moneda extranjeras o de personas extranjeras. Asegúrese de
        verificar con su banco o compañía de tarjeta de crédito antes de realizar una transacción para comprender todas
        las comisiones, recargos de tarjeta de crédito y tasa de cambio entre divisas.</p>

<h5 10"><span 2">4.4 Reembolsos</h5>
<p 5"><span 0">Las diversas políticas de cambio y reembolsos establecidas por nuestros Organizadores de
        Eventos prohíben a iClubbers, por defecto, realizar cambios o reembolsos después de efectuar una reserva.
    
</p>
<p 5"><span 0">Si un cliente solicita un cambio o un reembolso, iClubbers procesará dicha solicitud.
        ever,
        por lo tanto, solicita a todos los Clientes que se pongan en contacto con el Servicio de Atención al Cliente de
        iClubbers para tramitar cualquier solicitud de reembolso. </p>
<p> Los tickets de iClubbers no son reembolsables salvo que el Organizador decida a su sola
    discreción la devolución. En el supuesto de que un evento se posponga, se modifique su lugar de celebración, u
    ocurra un cambio sustancial al evento (o, en el caso de un festival de música, al line-up), o el evento sea
    cancelado por causas ajenas a iClubbers, los Clientes deberán ponerse en contacto con iClubbers, a más tardar,
    el lunes
    siguiente a la fecha del evento para solicitar un cupón para el mismo ticket en otra fecha o por la cantidad
    equivalente para ser utilizada en otros planes de la Aplicación o, en casos excepcionales en los que el
    Organizador haya decidido la devolución. </p>
</div>