#title-size{
    font-size: 25px;
}
#footer {
    box-shadow: 0px -15px 15px -8px rgba(0, 0, 0, 0.05);
    margin-top: 6rem;
    color: black;
}
/* #home{
 background-color: rgb(40, 43, 54);
}
#cards-style{
    background-color: rgb(58, 58, 63);
} */
#main-picture {
    height: 50vh;
    width: 100vw;
    background: url('/images/silhouette-of-people-in-front-of-stage.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.carousel-text{
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.text-modal{
    color: black;
}

.icon-liked {
    color: red;
}
#link-cards{
    color: white;
}

.bootstrap-tagsinput input {
    border: none;
    width: 400px;
}

.bootstrap-tagsinput {
	margin: 0;
	width: 100%;
	padding: 0.5rem 0.75rem 0;
	font-size: 1rem;
    line-height: 1.25;
	transition: border-color 0.15s ease-in-out;
}
	.has-focus {
    background-color: #fff;
	}
	
	.label-info {
		display: inline-block;
		background-color: #58a3d4;
		padding: 0 .4em .15em;
		border-radius: .25rem;
		margin-bottom: 0.4em;
	}
	
	input {
		margin-bottom: 0.5em;
	    width: 400px;
	}


.bootstrap-tagsinput .tag [data-role="remove"]:after {
	content: '\00d7';
    padding-left: 10px;
}

.no-vissible {
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
}
#add-dj-btn{
    height: 39px;
}
#card-name{
    height: 50px;
}